.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.navigation-button {
  background-image: url(../assets/svg/menu.svg);
  width: 35px;
  height: 35px;
  object-fit: cover;
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  position: absolute;
  left: 20px;
  top: 40px;
}
.rent-bike-button {
  width: 180px;
  height: 50px;
  font-size: large;
  background-color: rgb(11, 129, 11);
  color: antiquewhite;
  border: none;
  border-radius: 2px;
  margin-right: 30px;
}
.cart-button {
  background-image: url(../assets/svg/cart3.svg);
  background-size: contain;
  background-color: transparent;
  width: 35px;
  height: 35px;
  border: none;
  margin-right: 10px;
}
.menu-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
