.container__bikes {
  color: rgb(50, 46, 46);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../assets/images/background2.jpg);
  height: 800px;
}
.container__bikes h2 {
  margin-bottom: -15px;
}
.bikes__button {
  display: flex;
  justify-content: center;
}
.bikes__presentation {
  width: 350px;
  height: 600px;
  background-color: white;
  margin-top: 15px;
  border: 1px solid rgb(196, 193, 193);
  border-radius: 5px;
}
.bikes__presentation img {
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom: 50px;
}
.bikes__presentation h2 {
  display: flex;
  justify-content: center;
  text-decoration: underline;
}
.bikes__reservation {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bikes__reservation--button {
  background-color: white;
  border: 1px solid rgb(52, 48, 48);
  margin-top: 30px;
  width: 170px;
  height: 50px;
  font-size: large;
}
.bikes__buttons--next {
  background-image: url(../assets/svg/arrow-right-circle-fill.svg);
  background-size: contain;
  background-color: transparent;
  border: none;
  width: 45px;
  height: 45px;
}
.bikes__buttons--prev {
  background-image: url(../assets/svg/arrow-left-circle-fill.svg);
  background-size: contain;
  background-color: transparent;
  border: none;
  width: 45px;
  height: 45px;
}
.bikes__buttons {
  height: 45px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
