.container__bikes {
  color: rgb(50, 46, 46);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(188, 188, 188);
  height: 800px;
}

.container__bikes span {
  margin-bottom: -15px;
  font-size: 20px;
  margin-top: 15px;
}

.bikes__button {
  display: flex;
  justify-content: center;
}

.bikes__presentation {
  width: 350px;
  height: 600px;
  background-color: white;
  margin-top: 15px;
  border: 1px solid rgb(196, 193, 193);
  border-radius: 8px;
  position: relative;
  margin-left: 75px;
  overflow: hidden;
}

.bikes__presentation img {
  margin-top: 5px;
  margin-bottom: 50px;
}

.bikes__presentation h2 {
  display: flex;
  justify-content: center;
  text-decoration: underline;
}

.bikes__reservation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bikes__reservation--button {
  background-color: white;
  border: 1px solid rgb(52, 48, 48);
  margin-top: 30px;
  width: 170px;
  height: 50px;
  font-size: large;
}

.bikes__buttons--next {
  background-image: url(../../assets/svg/caret-right.svg);
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  width: 45px;
  height: 45px;
  position: absolute;
  right: 20px;
  top: 270px;

  z-index: 5;
}

.bikes__buttons--prev {
  background-image: url(../../assets/svg/caret-left.svg);
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  width: 45px;
  height: 45px;
  position: absolute;
  left: 20px;
  top: 270px;

  z-index: 5;
}

.bikes__buttons {
  height: 45px;
  width: 500px;
  height: 600px;

  position: relative;
  overflow: hidden;
}

.custom-datepicker-container div {
  display: flex;
  justify-content: center;
}
