.container__bikes {
  color: rgb(50, 46, 46);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e6e6e6;
  height: 800px;
  width: 100vw;
}

.container__bikes span {
  font-size: 20px;
}

.bikes__button {
  display: flex;
  justify-content: center;
}

.bikes__buttons--next {
  background-image: url(../../assets/svg/caret-right.svg);
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  width: 45px;
  height: 45px;
  position: absolute;
  right: 59px;
  top: 270px;

  z-index: 5;
}

.bikes__buttons--prev {
  background-image: url(../../assets/svg/caret-left.svg);
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  width: 45px;
  height: 45px;
  position: absolute;
  left: 40px;
  top: 270px;

  z-index: 5;
}

.bikes__buttons {
  height: 45px;
  width: 500px;
  height: 599px;

  position: relative;
  overflow: hidden;
}
.bikes__grid {
  height: 599px;
  width: 100%;
  margin-bottom: 5px;

  overflow: hidden;
}
.animateddiv {
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .bikes__grid {
    width: 768px;
  }
}
@media (min-width: 1300px) {
  .bikes__grid {
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
  }
}
.bikes__buttons--next--tablet {
  background-image: url(../../assets/svg/caret-right.svg);
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  width: 45px;
  height: 45px;

  z-index: 5;
  position: absolute;
  top: 45%;
  right: 0;
}

.bikes__buttons--prev--tablet {
  background-image: url(../../assets/svg/caret-left.svg);
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  width: 45px;
  height: 45px;

  z-index: 5;
  position: absolute;
  top: 45%;
  left: 0px;
}
.bikes__container--tablet {
  display: flex;
  position: relative;
}
