.container__bikes {
  color: rgb(50, 46, 46);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(188, 188, 188);
  height: 800px;
}

.container__bikes span {
  margin-bottom: -15px;
  font-size: 20px;
  margin-top: 15px;
}

.bikes__button {
  display: flex;
  justify-content: center;
}

.bikes__buttons--next {
  background-image: url(../../assets/svg/caret-right.svg);
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  width: 45px;
  height: 45px;
  position: absolute;
  right: 20px;
  top: 270px;

  z-index: 5;
}

.bikes__buttons--prev {
  background-image: url(../../assets/svg/caret-left.svg);
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  width: 45px;
  height: 45px;
  position: absolute;
  left: 20px;
  top: 270px;

  z-index: 5;
}

.bikes__buttons {
  height: 45px;
  width: 500px;
  height: 600px;

  position: relative;
  overflow: hidden;
}
.bikes__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  justify-items: center;
  align-items: center;
}
