.container__top {
  margin-top: 25px;
}
.contactstop {
  display: none;
}
@media screen and (min-width: 1200px) {
  .contactstop {
    display: flex;
  }
}
.socialmediaicons {
  position: absolute;
  top: 25px;
  right: 150px;
}
.contactitem {
  margin-left: 150px;
  display: flex;
}
.contacitem a {
  text-decoration: none;
  color: rgb(61, 62, 62);
}
#icontop {
  margin-right: 5px;
}
